<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'javascripts/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'javascripts/main.js' %}"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">

</head>
<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark w-100 p-4">
        <div class="container">
            <a class="navbar-brand fs-1" href="/" style="color: orange;">Hotelier</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link fs-3" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fs-3" href="{% url 'about'%}">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fs-3" href="{% url 'service'%}">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fs-3" href="{% url 'room' %}">Rooms</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fs-3" href="{% url 'contact'%}">Contact</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle fs-3" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-person-circle"></i> <!-- Biểu tượng người dùng -->
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="{%url 'account_info'%}">Account Info</a></li>
                            <li><a class="dropdown-item" href="{% url 'booking_history' %}">Booking History</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
                        </ul>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link fs-3" href="{% url 'login' %}">Login</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</header>
</body>
</html>
