{% extends 'admin/base_admin.html' %}

{% block content %}
<div class="container mt-4">
    {% if action == 'view' %}
    <!-- Chi tiết nhân viên -->
    <h1>Guest Details: {{ Guest.full_name }}</h1>
    <table class="table mt-3">
        <tr>
            <th>Full Name</th>
            <td>{{ guest.full_name }}</td>
        </tr>
        <tr>
            <th>Phone Number</th>
            <td>{{ guest.phone_number }}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{ guest.email }}</td>
        </tr>
        <tr>
            <th> Address</th>
            <td>{{ guest.address }}</td>
        </tr>
        <tr>
            <th>ID_Card</th>
            <td>{{ guest.id_card }}</td>
        </tr>
    </table>
    <a href="{% url 'guest_detail' guest.id %}?action=edit" class="btn btn-warning btn-sm">Edit</a>
    <a href="{% url 'guest_detail' guest.id %}?action=delete" class="btn btn-danger btn-sm">Delete</a>

    {% elif action == 'edit' %}
    <!-- Chỉnh sửa khách hàng  -->
    {% if messages %}
    {% for message in messages %}
        <div class="alert alert-{% if message.tags == 'success' %}success{% elif message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
    {% endif %}
    <h1>Edit Guest: {{ guest.full_name }}</h1>
    <form method="POST">
        {% csrf_token %}
        <div class="mb-3">
            <label for="full_name" class="form-label">Full Name</label>
            <input type="text" id="full_name" name="full_name" class="form-control" value="{{ guest.full_name }}" required>
        </div>
        <div class="mb-3">
            <label for="phone_number" class="form-label">Phone Number</label>
            <input type="text" id="phone_number" name="phone_number" class="form-control" value="{{ guest.phone_number }}">
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" id="email" name="email" class="form-control" value="{{ guest.email }}" required>
        </div>
        <div class="mb-3">
            <label for="address" class="form-label">Address</label>
            <input type="text" id="address" name="address" class="form-control" value="{{ guest.address }}" required>
        </div>
        <div class="mb-3">
            <label for="id_card" class="form-label">ID_Cardt</label>
            <input type="text" id="id_card" name="id_card" class="form-control" value="{{ guest.id_card }}">
        </div>
        <button type="submit" class="btn btn-primary">Save Changes</button>
    </form>

    {% elif action == 'delete' %}
    <!-- Xóa khách hàng -->
    <h1>Are you sure you want to delete guest: {{ guest.full_name }}?</h1>
    <form method="POST">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Delete</button>
        <a href="{% url 'guest_list'%}" class="btn btn-secondary">Cancel</a>
    </form>
    {% elif action == 'add' %}
    <!-- Thêm khách hàng  -->
    <h1>Add Guest</h1>
    <form method="POST">
        {% csrf_token %}
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" id="username" name="username" class="form-control" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" id="password" name="password" class="form-control" required>
        </div>
        <div class="mb-3">
            <label for="confirm_password" class="form-label">Confirm Password</label>
            <input type="password" id="confirm_password" name="confirm_password" class="form-control" required>
        </div>
        <div class="mb-3">
            <label for="full_name" class="form-label">Full Name</label>
            <input type="text" id="full_name" name="full_name" class="form-control" required>
        </div>
        <div class="mb-3">
            <label for="phone_number" class="form-label">Phone Number</label>
            <input type="text" id="phone_number" name="phone_number" class="form-control" required>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" id="email" name="email" class="form-control" required>
        </div>
        <div class="mb-3">
            <label for="address" class="form-label">Address</label>
            <input type="text" id="address" name="address" class="form-control" required>
        </div>
        <div class="mb-3">
            <label for="id_card" class="form-label">ID_Card</label>
            <input type="text" id="id_card" name="id_card" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-primary">Add Guest</button>
    </form>
    
    


    {% else %}


    <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
        <h1 class="section-title text-center text-primary text-uppercase">Guest</h1>
    </div>
    {% if messages %}
    {% for message in messages %}
        <div class="alert alert-{% if message.tags == 'success' %}success{% elif message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
    {% endif %}

    <!-- Thanh tìm kiếm -->
    <form method="GET" action="{% url 'guest_list' %}" class="mb-3">
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Search by Full Name or Email" name="search" value="{{ search_query }}">
        <button class="btn btn-outline-secondary" type="submit">Search</button>
    </div>
    </form>
    <!-- thêm khách hàng-->
        <a href="{% url 'guest_detail' 0 %}?action=add" class="btn btn-primary">Add Guest</a>

    <!-- Bảng danh sách  khách hàng  -->
    <table class="table table-striped mt-3">
        <thead>
            <tr>
                <th>#</th>
                <th>Full Name</th>
                <th>Phone Number</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for guest in guests %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ guest.full_name }}</td>
                <td>{{ guest.phone_number }}</td>
                <td>{{ guest.email }}</td>
                <td>
                    <a href="{% url 'guest_detail' guest.id %}?action=view" class="btn btn-primary btn-sm">View</a>
                    <a href="{% url 'guest_detail' guest.id %}?action=edit" class="btn btn-warning btn-sm">Edit</a>
                    {% if user.is_superuser %}
                    <a href="{% url 'guest_detail' guest.id %}?action=delete" class="btn btn-danger btn-sm">Delete</a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
</div>

    <!-- Pagination -->
    {% include 'include/pagination.html' %}
</div>
{% endblock %}
